workflows/Create folder in OneDrive.json
{
  "name": "Create folder in OneDrive",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "folder"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1088,
        576
      ],
      "id": "1b14115d-eca4-4439-9da0-3c3b0b054b0f",
      "name": "When Executed by Another Workflow",
      "notesInFlow": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "paths",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -416,
        576
      ],
      "id": "00258e85-bc24-4db6-9e6b-d95a7cdd1eef",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const folder = $input.first().json.folder || \"kissa/koira/hevonen\";\n\nreturn {\n  paths: folder.split('/').map((folder, index, arr) => ({\n    name: folder,\n    path: `/drive/root:/${arr.slice(0, index + 1).join('/')}`,\n    parentId: null,\n    parent: index === 0 ? \"/drive/root:\" : `/drive/root:/${arr.slice(0, index).join('/')}`\n  }))\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        576
      ],
      "id": "81016209-22fd-43e2-8dc6-5b3fa5b65b79",
      "name": "Paths"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "={{ $json.name }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        32,
        400
      ],
      "id": "4ecf8424-7677-489f-8e1a-e329b698591f",
      "name": "Search",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "vFXV2LMuV1uM3sI2",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -192,
        576
      ],
      "id": "9df67617-bcca-4b67-bbbb-b5cf93de6d6a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "={{ $('Split Out').item.json.name }}",
        "options": {
          "parentFolderId": "={{ $json.value || null }}"
        }
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        704,
        592
      ],
      "id": "56565cae-85ed-4925-a310-dffa82ce657d",
      "name": "Create a folder",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "vFXV2LMuV1uM3sI2",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "186ba457-5540-46bd-b582-7caf6173cfd1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "8a0a1ee3-27c7-443b-bf9a-58528bf620d1",
              "leftValue": "={{ $json.parentReference.path }}",
              "rightValue": "={{ $('Loop Over Items').item.json.parent }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        400
      ],
      "id": "fa1ed9a0-ecf6-43d7-8c93-6ecc379bae81",
      "name": "Exists",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "keyName": "parentID",
        "valueString": "={{ $('Search').item.json.id }}"
      },
      "type": "n8n-nodes-datastore.datastore",
      "typeVersion": 1,
      "position": [
        480,
        400
      ],
      "id": "bc711dd2-fde2-4ebb-9fb3-1c2f31f9e0dd",
      "name": "setParentFound"
    },
    {
      "parameters": {
        "keyName": "parentID",
        "valueString": "={{ $json.id }}"
      },
      "type": "n8n-nodes-datastore.datastore",
      "typeVersion": 1,
      "position": [
        928,
        688
      ],
      "id": "ea2026e1-4913-4b4a-9866-8865de7998d8",
      "name": "setParentCreated"
    },
    {
      "parameters": {
        "operation": "get",
        "keyName": "parentID"
      },
      "type": "n8n-nodes-datastore.datastore",
      "typeVersion": 1,
      "position": [
        480,
        592
      ],
      "id": "f3c29938-238d-4297-80ac-a83ede402a76",
      "name": "getParent"
    },
    {
      "parameters": {
        "operation": "clear",
        "keyName": "parentID"
      },
      "type": "n8n-nodes-datastore.datastore",
      "typeVersion": 1,
      "position": [
        -640,
        576
      ],
      "id": "4e3100f1-5d56-4560-8a32-c167f18aa842",
      "name": "clearParent"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paths": {
      "main": [
        [
          {
            "node": "clearParent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a folder": {
      "main": [
        [
          {
            "node": "setParentCreated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists": {
      "main": [
        [
          {
            "node": "setParentFound",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getParent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setParentFound": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setParentCreated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getParent": {
      "main": [
        [
          {
            "node": "Create a folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clearParent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d328732-2e22-4b39-acd9-779b89d5c226",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8e02da9da087e6be3a37f0784f0160a5508106e3fb771a8529df943289a5ec3"
  },
  "id": "bfA4a1LwJVx6G5kB",
  "tags": []
}